-1.eda.ipynb
initial_path.txt
0. bruto
1. bronze
2. prata
3. ouro
unzipados
zipados
prototipo_1.pkl
prototipo_2.pkl
prototipo_3.pkl
r2_ouro.duckdb
r2_prata.duckdb
__pycache__
r2_prata.duckdb.tmp

# COLOCAR AQUI O QUE É ARQUIVO "TEMPORARIO"